.grid {
    display : flex;
    flex-wrap: wrap;
    width : 560px;
    height : 560px;
    border : solid black;
}

.grid div {
    width : 20px;
    height : 20px;
}

.main-container {
    display : flex;
}

button {
    width : 100px;
    height : 100px;
    border-radius : 10px;
}

.buttons {
    display : flex;
    flex-direction: row;
}

.pac-dot {
    z-index : 1;
    background-color : green;
    border : solid 5px white;
    box-sizing : border-box;
}

.wall {
    background-color : blue;
}

.power-pellet {
    background-color : green;
    border-radius : 10px;
}

.pac-man {
    background-color : black;
    border-radius : 10px;
}

.blinky {
    background-color : red;
    border : none;
    border-radius : 0px;
}

.pinky {
    background-color : pink;
    border : none;
    border-radius : 0px;
}

.inky {
    background-color : cyan;
    border : none;
    border-radius : 0px;
}

.clyde {
    background-color : orange;
    border : none;
    border-radius : 0px;
}

.scared-ghost {
    background-color : aquamarine;
    border : none;
    border-radius : 0px;
}